* {
    margin: 0; /* внешний отступ */
    padding: 0; /* внутренний отступ */
}
header {
    height: 60px; /* высота */
    background-color: lightgray;
    margin-bottom: 40px; /* отступ снизу */
}
h1 {
    color: red; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    font-size: 40px; /* размер шрифта */
}
div {
    width: 70%;
    margin: 0 auto 40px; /* сверху 0, справа слева - auto, снизу 40px */
    background-color: rgb(216, 216, 216);
    padding: 50px; /* внутренний отступ со всех сторон */
}
.post-1 {
    background-color: orange;
}
.post-2 {
    background-color: navy;
}
h5 {
    font-size: 28px; 
    text-align: center;
}
img {
    width: 75%; /* ширина */
    display: block; /* делаем блочный элемент */
    margin: 30px auto; /* центрирование блока */
}
p {
    font-size: 18px;
    text-align: center;
}
/* 
    Задача. Увеличить размер h5 до 28px.
    Увеличить размер p до 18px и отцентрировать.
    Сделать отступы между дивами, между картинкой и текстами.

    ctrl + Х (русская Х)
    Единицы измерения: 
    1) px - пиксель, для установки размера шрифта, для отступов и т.д
    2) % - проценты, для регулирования ширины блоков. % - относительно родительского элемента

    ctrl + / - комментарии

    селектор - выбор html тега
    h1 - селектор, по которому выбираем тот тег, который хотим стилизовать

    селектор {
        свойство: значение
    } 
    color - свойство, red - значение

    Селекторы:
    1. по тегу - h1 {}, p {}, img {}
    2. по классу - .className, .post-1, .post-2

    margin - внешний отступ
    1. margin-top - сверху
    2. margin-right - справа
    3. margin-bottom - снизу
    4. margin-left - слева 

    margin: auto/10px; - со всех сторон. Если 1 значение в margin 
    margin: 10px auto; - 1е значение - отступы сверху/снизу, 2е значение - слева/справа
    margin: 10px auto 20px; 1е значение - сверху, 2-е - справа/слева, 3е - снизу
    margin: 10px 15px 20px 30px; 1-сверху, 2 - справа, 3-снизу, 4е- слева
*/

