.item, .item-1 {
    width: 200px;
    height: 200px;
    background-color: khaki;
}
.item-1 {
    position: absolute;
    /* left: 500px; */
    top: 0;
    right: 0;
    background-color: seagreen;
}
/* 
    обращение по классу приоритетнее чем по названию тега
    position - свойство которое позолвяет адать способ позиционирования элемента в html
    если указываем определенные значения posistion, то можем использовать координаты
        top-сверху
        left - слева
        bottom - снизу 
        right - справа

    При указании position:absolute для элемента, 
        он удаляется из общего потока документа и не влияет на положение других блоков
        он можно сказать переносится на слой выше

        tagName
        .className
        [attrNAme]
        #id
*/