* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 24px;
    text-decoration: none; /* убрать нижнее подчеркивание у ссылки */
    color: black;
}
a:not(:last-child) {
    margin-right: 20px;
}
.item {
    height: 100vh; /* вся высота окна браузера */
}
#red {
    background-color: rgb(159, 74, 74);
}
#yellow {
    background-color: rgb(222, 222, 96);
}
#green {
    background-color: seagreen;
}
.text {
    position: fixed;
    top: 200px;
    left: 100px;
}
/* 
    position: fixed;
        Элемент убирается из основоного потока и приклеивается к определенной области на экране
        Позиционируем элемент относительно окна браузера, а не относительно блоков

    .className - обращение по классу 
    #idName - обращение по id
    hover - специальное состояние элемента - при наведении

    aspect-ratio - соотношение сторон элемента, определяется двумя числами
        width:height
        16:9

    обращение по классу приоритетнее чем по названию тега
    position - свойство которое позолвяет адать способ позиционирования элемента в html
    если указываем определенные значения posistion, то можем использовать координаты
        top-сверху
        left - слева
        bottom - снизу 
        right - справа

    При указании position:absolute для элемента, 
        он удаляется из общего потока документа и не влияет на положение других блоков
        он можно сказать переносится на слой выше

        tagName
        .className
        [attrNAme]
        #id
*/