.scale {
    width: 500px;
    height: 15px;
    background-color: rgb(185, 185, 185);
}
.scale-inner {
    width: 7%;
    height: 100%; /* 15px */
    background-color: rgb(63, 63, 167);
}
/* Создать шкалу примерно как на макете */